<div class="form_big_container">
  <div class="form_container">
    <% if flash[:notice] %>
      <div class="notice"><%= flash[:notice] %></div>
    <% end %>

    <h1>New Trip</h1>

    <%= form_for @trip do |form| %>
      <div class="input_container">
        <div><%= form.label :title %></div>
        <div><%= form.text_field :title %></div>
      </div>

      <div class="input_container">
        <div><%= form.label :description, 'Tell us how it was!!!' %></div>
        <div><%= form.text_area :description %></div>
      </div>


      <div class="coordinates_container">

        <div class="coordinate_container">
          <h3>Home coordinates</h3>
          <div class="input_container">
            <div><%= form.label :h_latitude, 'Latitude' %></div>
            <div><%= form.number_field :h_latitude %></div>
          </div>

          <div class="input_container">
            <div><%= form.label :h_longitude %></div>
            <div><%= form.number_field :h_longitude %></div>
          </div>
        </div>

        <div class="coordinate_container">
          <h3>Destination coordinates</h3>
          <div class="input_container">
            <div><%= form.label :d_latitude, 'Latitude' %></div>
            <div><%= form.number_field :d_latitude %></div>
          </div>

          <div class="input_container">
            <div><%= form.label :d_longitude %></div>
            <div><%= form.number_field :d_longitude %></div>
          </div>
        </div>
      </div>
      <div class="input_container submit_button">
        <%= form.submit %>
      </div>
    <% end %>
  </div>
</div>