<div class="container container-profile">
  <div class="my-background"></div>
  <div class="my-card">
    <div class="my-card-header">
      <h4><%= @user.name %></h4>
    </div>
    <div class="my-card-body">
      <div class="avatar">
        <%= image_tag @user.avatar.to_s, class: 'avatar' %>
      </div>
      <div class="profile_info">
        <p>Bucharest Romania</p>
        <p>
          <% if @user == current_user %>
            <%= link_to 'update avatar', avatar_path %>
          <% end %>
          <% if current_user == @user || current_user.admin? %>
            | <%= link_to 'Delete this user', user_path, method: :delete, data: {confirm: 'Are you sure you want to delete this user?'} %>
          <% end %>
        </p>
      </div>
    </div>
  </div>


  <div class="container container-trips">
    <% @user.trips.each do |item| %>
      <div class="container-trip">
        <div class="container-trip-header">
          <h4 class=""><%= link_to item.title, trip_path(item) %></h4>
        </div>
        <div class="container-trip-body">
          <div class="trip-image">
            <% unless item.photos.first.nil? %>
              <%= image_tag item.photos.first.image_url, class: 'trip' %>
            <% end %>
          </div>
          <div class="container-trip-description">
            <p id="trip_description_<%= item.id %>"><%= item.description %></p>
            <script>
                if ($('p#trip_description_<%=item.id%>').text().length > 400) {
                    var a = $('p#trip_description_<%=item.id%>').text().slice(0, 400) + "... read more on the trip";
                    $('p#trip_description_<%=item.id%>').text(a);
                }
            </script>
            <ul class="list-inline list-unstyled">
              <li><span><%= item.created_at %></span></li>
              <% if current_user == item.user %>
                <li><%= link_to 'Edit', edit_trip_path(item) %></li>
              <% end %>
              <% if current_user == item.user || current_user.admin? %>
                <li><%= link_to 'Delete', trip_path(item), method: :delete, data: {confirm: 'Are you sure?'} %></li>
              <% end %>
              <!-- TODO de interesat ondelete cascade-->
            </ul>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>