<!DOCTYPE html>
<html>
<head>
  <title>Places</title>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBvGpbaHwB8tCQ2O1uBjNc08r9Z8J7a89Y&callback=initMap"
          async defer></script>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

<nav class="navbar navbar-default my-nav">
  <div class="container-fluid">
    <div class="navbar-header">
      <div class="navbar-brand" href="#"><%= link_to 'Places', root_path, class: 'navbar_link', id: 'title_navbar' %></div>
    </div>
    <% if user_signed_in? %>
      <ul class="nav navbar-nav navbar-left">
        <li>
          <div class="input">
            <input type="text" class="form-control" id="search" placeholder="look for someone">
          </div>
          <ul id="result">

          </ul>
        </li>
      </ul>
    <% end %>
    <ul class="nav navbar-nav navbar-right">
      <% if user_signed_in? %>
        <li><a>You are logged as <%= current_user.role %></a></li>
        <li><%= link_to 'Post a new trip', new_trip_path %></li>
        <li>
          <div class="dropdown">
            <button type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
              Account settings
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
              <li><%= link_to current_user.name, user_path(current_user.username), id: "current_user_link", class: "current_user_link" %></li>
              <% if current_user.admin? %>
                <li><%= link_to 'Admin Page', admin_path %></li>
              <% end %>
              <li><%= link_to 'Edit profile', edit_user_registration_path %></li>
              <li role="separator" class="divider"></li>
              <li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
            </ul>
          </div>
        </li>
      <% else %>
        <li><%= link_to "Sign up", new_user_registration_path %></li>
        <li><%= link_to "Login", new_user_session_path %></li>
      <% end %>
    </ul>
  </div>
</nav>

<%= yield %>

</body>
</html>

